# Xcode
*.xcuserdata
*.xccheckout
*.xcscmblueprint
DerivedData/
build/
*.ipa
*.dSYM.zip

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
Package.resolved

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Temporary
*.tmp
*.swp
